<div class="row">

    <div class="col-md-5 col-sm-5 col-xs-5">
        <img    style="width: 100%;"
                src="/assets/images/home/categories_jerseys.png">
    </div>

    <div class="col-md-7 col-sm-7 col-xs-7">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <img    style="width: 100%;"
                        src="/assets/images/home/categories_cuadros.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <img    style="width: 100%;"
                        src="/assets/images/home/categories_cascos.png">
            </div>
            
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-3 col-sm-3 col-xs-3 blog-title">

                <div class="">
                    <p>NUESTRO BLOG</p>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1"></div>
                    <div class="col-md-3 col-sm-3 col-xs-3" style="border-top: 6px solid #18c65e; margin-top: -18px ;margin-left: -40px; width: 33%; margin-bottom: 30px;"></div>
                </div>
            </div>
        </div>

    </div>
    
</div>
