
<div class="header-main-div home-page-header row">

    <!-- Toggle Button -->
    <div class="col-md-3 col-sm-3 col-xs-3" [matMenuTriggerFor]="menu">
        <div class="row">
            <button mat-icon-button aria-label="Example icon-button with a menu" class="app-icon">
                <mat-icon style="color: #18c65e;">menu</mat-icon>
            </button>
        </div>
        <div class="row">
            <span class="header-menu-title">menú</span>
        </div>
    </div>

    <!-- separator (1) -->
    <div class="col-md-2 col-sm-3 col-xs-1">
    </div>

    <!-- LGO -->
    <div class="col-md-1 col-sm-1 col-xs-1 logo-header">
        <p>LOGO</p>
    </div>

    <!-- separator (2) -->
    <div class="col-md-3 col-sm-3 col-xs-1">
    </div>

    <!-- Search Bar (1) -->
    <div class="col-md-3 col-sm-3 col-xs-5">

        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <button mat-icon-button class="app-icon banner-icon" aria-label="Example icon-button with heart icon">
                    <mat-icon class="banner-icon" svgIcon="love_inactive"></mat-icon>
                </button>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <button mat-icon-button class="app-icon banner-icon" aria-label="Example icon-button with heart icon">
                    <mat-icon class="banner-icon" svgIcon="bell_inactive"></mat-icon>
                </button>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <button mat-icon-button class="app-icon" aria-label="Example icon-button with heart icon">
                    <mat-icon class="banner-icon" svgIcon="user_inactive"></mat-icon>
                </button>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <button mat-icon-button class="app-icon" aria-label="Example icon-button with heart icon">
                    <mat-icon class="banner-icon" svgIcon="car_inactive"></mat-icon>
                </button>
            </div>
        </div>
        <div class="row search-bar-header" style="color: black;" id="search-bar">

            <mat-form-field appearance="none" style="width: 100%;">
                <mat-label style="color: gray;">Search</mat-label>
                <input matInput placeholder="">
                <span matPrefix class="material-icons" >search</span>
            </mat-form-field>

        </div>

    </div>

</div>

<mat-menu #menu="matMenu">
    <div class="banner-menu" fixedTopGap="1">
        <!-- <app-category-tree (categoryId)="onCategoryId($event)"></app-category-tree>-->
        
        <div class="menu-slide">

            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                <div class="col-md-1 col-sm-1"></div>

                <div class="col-md-4 col-sm-4">
    
                    <div class="row" >
                        <div class="col-md-12 col-sm-12 col-xs-12 header-menu-left-side">COMPRA</div>
                        <div class="col-md-12 col-sm-12 col-xs-12 header-menu-left-side">VENDE</div>
                        <div class="col-md-12 col-sm-12 col-xs-12 header-menu-left-side">NUESTRA HISTORIA</div>
                        <div class="col-md-12 col-sm-12 col-xs-12 header-menu-left-side">NUESTRO BLOG</div>
                    </div>
    
                </div>
                <div class="col-md-1 col-sm-2" style="
                    border-width: 2px;
                    height: 220px;
                    border-left: 1.5px solid #00000040;
                    float: left;
                "></div>
                <div class="col-md-4 col-sm-3">
    
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 header-menu-right-side">Bicicletas</div>
                        <div class="col-md-12 col-sm-12 col-xs-12 header-menu-right-side">Montaña</div>
                        <div class="col-md-12 col-sm-12 col-xs-12 header-menu-right-side">Ruta</div>
                        <div class="col-md-12 col-sm-12 col-xs-12 header-menu-right-side">Urbana</div>
                    </div>
    
                </div>
                <div class="col-md-1 col-sm-1"></div>
            </div>

            <div class="row" style="margin-top: 20%; margin-left: 0px; margin-right: 0px;">
                <div class="col-md-1 col-sm-1"></div>

                <div class="col-md-4 col-sm-4">
    
                    <div class="row" >
                        <div class="col-md-12 col-sm-12 col-xs-12 header-menu-botton-side">INICIA SESIÓN</div>
                        <div class="col-md-12 col-sm-12 col-xs-12 header-menu-botton-side">SOPORTE</div>
                        <div class="col-md-12 col-sm-12 col-xs-12 header-menu-botton-side">CENTRO DE ASISTENCIA</div>
                    </div>
    
                </div>
                <div class="col-md-7 col-sm-7"></div>
            </div>

        </div>
    </div>
</mat-menu>
