<div style="padding-left: 2.5%;">

    <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <!-- Begin First Step -->

          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Cuéntanos de tu Bicicleta</ng-template>

            <div class="row">

                <div class="col-md-12">
                    <h4>Modelo de Bicicleta</h4>
                </div>

                <div class="col-md-6">
                    <app-catalog-selector
                    [inputTitle]="'Marca'"
                    [itemFloatingChar]="filterFloatChar('brand')"
                    [itemFloatingCharRel]="filterFloatCharRel('brand')" ></app-catalog-selector>
                </div>

                <div class="col-md-6" *ngIf="itemTypes">

                    <mat-form-field appearance="fill" style="width: 300px;" *ngIf="itemTypes.length > 0">
                        <mat-label>Modalidad</mat-label>

                        <mat-select  name="typeSelected" [(ngModel)]="itemTypeSelected"
                                    [ngModelOptions]="{standalone: true}">
                            <mat-option [value]="">
                            
                            </mat-option>
                
                            <mat-option *ngFor="let itemType of itemTypes; let typeIndex = index"
                                        [value]="itemType">
                                    {{ escapePipe( itemType.subCategoryName ) }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                
                <div class="col-md-6">
                    <mat-form-field style="width: 300px;">
                        <mat-label>Modelo</mat-label>
                        <input matInput placeholder="Este campo es obligatorio" value="" [(ngModel)]="item.model" [ngModelOptions]="{standalone: true}">
                      </mat-form-field>
                </div>

                <div class="col-md-6">
                    <app-catalog-selector
                        [inputTitle]="'Medida de la Llanta'"
                        [itemFloatingChar]="filterFloatChar('medida_de_llanta')"
                        [itemFloatingCharRel]="filterFloatCharRel('medida_de_llanta')" ></app-catalog-selector>
                </div>

                <div class="col-md-6" *ngIf="years">

                    <mat-form-field appearance="fill" style="width: 300px;" *ngIf="years.length > 0">
                        <mat-label>Año</mat-label>

                        <mat-select  name="typeSelected" [(ngModel)]="yearSelected"
                                    [ngModelOptions]="{standalone: true}">
                            <mat-option [value]=""></mat-option>

                            <mat-option *ngFor="let year of years; let yearIndex = index"
                                        [value]="year.isSelected">
                                    {{ year.year }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <div class="col-md-6">
                    <mat-form-field style="width: 300px;">
                        <mat-label>Numero de Serie</mat-label>
                        <input matInput placeholder="Este campo es obligatorio" value="" [(ngModel)]="item.series" [ngModelOptions]="{standalone: true}">
                      </mat-form-field>
                </div>

                <div class="col-md-12">
                    <div class="col-md-6" style="padding-right: 0px; padding-left: 0px;">
                        <app-catalog-selector
                            [inputTitle]="'Material del Cuadro'"
                            [itemFloatingChar]="filterFloatChar('material_de_cuadro')"
                            [itemFloatingCharRel]="filterFloatCharRel('material_de_cuadro')" ></app-catalog-selector>
                        
                        <app-catalog-selector
                            [inputTitle]="'Genero'"
                            [itemFloatingChar]="filterFloatChar('genero')"
                            [itemFloatingCharRel]="filterFloatCharRel('genero')" ></app-catalog-selector>
                        
                        <app-catalog-selector
                            [inputTitle]="'Talla'"
                            [itemFloatingChar]="filterFloatChar('talla')"
                            [itemFloatingCharRel]="filterFloatCharRel('talla')" ></app-catalog-selector>
                        
                        <app-catalog-selector
                            [inputTitle]="'Palanca de Cambios'"
                            [itemFloatingChar]="filterFloatChar('genero')"
                            [itemFloatingCharRel]="filterFloatCharRel('genero')" ></app-catalog-selector>
                        
                        <app-catalog-selector
                            [inputTitle]="'Multiplicacion'"
                            [itemFloatingChar]="filterFloatChar('genero')"
                            [itemFloatingCharRel]="filterFloatCharRel('genero')" ></app-catalog-selector>
                        
                    </div>
                    <div class="col-md-6" style="padding-right: 0px; padding-left: 0px;">
                        <label class="col-md-12">¿Tiene alguna modificación?</label>
                        <mat-radio-group aria-label="Select an option" class="col-md-6 offset-md-6">
                            <div class="col-md-12">
                                <mat-radio-button value="false">No/Original</mat-radio-button>
                            </div>
                            <div class="col-md-12">
                                <mat-radio-button value="true">Sí</mat-radio-button>
                            </div>
                        </mat-radio-group>
                        <br>
                        <mat-form-field class="col-md-8">
                            <mat-label>¿Cuéntanos sobre sus modificaciones y detalles?</mat-label>
                            <textarea matInput placeholder=""
                            rows="5" cols="120"
                            [(ngModel)]='textarea'
                            [ngModelOptions]="{standalone: true}"></textarea>
                            <mat-hint>{{textarea.length}} / 500</mat-hint>
                        </mat-form-field>
                    </div>

                </div>
            
            </div>

            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>

          <!-- End first Step -->
        </mat-step>
        
        <mat-step [stepControl]="secondFormGroup" optional>
          <form [formGroup]="secondFormGroup">

            <div class="row">
                <div class="col-md-6">
                    <h4>Agrega hasta 12 Fotos</h4>
                    <p>
                        Sube fotos claras usando las siguientes imagenes
                        como referencia
                    </p>
                </div>
                <div class="col-md-6">
                    <label class="btn btn-default">
                        <input type="file" accept="image/*" multiple (change)="selectFiles($event)" />
                    </label>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <!-- Image Model Begin -->
                        <div class="col-xs-6 col-md-4">
                            <img src="/assets/images/vistas/bicicleta-ejemplo-vista-1.jpg" class="img-refrense" alt="image">
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <img src="/assets/images/vistas/bicicleta-ejemplo-vista-2.jpg" class="img-refrense" alt="image">
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <img src="/assets/images/vistas/bicicleta-ejemplo-vista-3.jpg" class="img-refrense" alt="image">
                        </div>
                        
                        <div class="col-xs-6 col-md-4">
                            <img src="/assets/images/vistas/bicicleta-ejemplo-vista-4.jpg" class="img-refrense" alt="image">
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <img src="/assets/images/vistas/bicicleta-ejemplo-vista-5.jpg" class="img-refrense" alt="image">
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <img src="/assets/images/vistas/bicicleta-ejemplo-vista-6.jpg" class="img-refrense" alt="image">
                        </div>
                    <!-- Image Model Begin -->
                </div>

                <div class="col-md-6">
                    <!-- Upload Imnages Begin -->
                    <div *ngFor="let progressInfo of progressInfos" class="mb-2">
                        <span>{{ progressInfo.fileName }}</span>
                        <div class="progress">
                        <div
                            class="progress-bar progress-bar-info progress-bar-striped"
                            role="progressbar"
                            attr.aria-valuenow="{{ progressInfo.percentage }}"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            [ngStyle]="{ width: progressInfo.percentage + '%' }">
                            {{ progressInfo.percentage }}%
                        </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        

                        <div *ngIf="fileInfos">
                            <div *ngIf="fileInfos.length >= 1">

                                <div class="list-group list-group-flush" *ngFor="let file of fileInfos">

                                    <div class="col-xs-6 col-md-4">
                                        <img src="{{ file }}" class="img-refrense" alt="image">
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Upload Imnages End -->
                </div>

            </div>
    

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
            <!-- Upload Image -->
            <app-sale-item-upload-img></app-sale-item-upload-img>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>

      </mat-horizontal-stepper>

    <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-2">
            <button mat-raised-button (click)="save()">Guardar y Publicar</button>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row" style="margin-bottom: 25px;"></div>


</div>

<!-- -->
