
<div (click)="file.click()" style="cursor: pointer;">
    <div *ngIf="!previewUrl">
        <img class="item-upload-img-selected" [ngStyle]="heightStyle()" src="assets/images/publish/upload_img_principal.svg">
    </div>
    <div *ngIf="previewUrl" class="item-upload-img-div">
        <img [src]="previewUrl" class="item-upload-img-selected" [ngStyle]="heightStyle()"/>
    </div>
    
    <form [formGroup]="form" (submit)="onSubmit($event)" (ngSubmit)="onSubmit($event)">
        <input type="file" name="image" (change)="fileProgress($event)" #file style="display: none;" />
    </form>
</div>
