
.card-header {
    width: 100%;
}

.field-name {
    font-family: montserrat-bold;
}

.edit-mode-button {
    color: #18c65e;
}

.field-value {
    font-family: montserrat-extraLight;
}

.mat-card {
    height: 28em;
    margin-bottom: 0em;
    margin-top: 3em;
}

.row-height {
    height: 4.1em;
}

.td-card {
    width: 40%;
}

.td-space {
    width: 10%;
}

mat-card {
    border-radius: 14px;
    background-color: #f2f2f2;
}

.personal-info {
    
}

.card-title {
    width: 60%;
}

.card-edit {
    width: 20%;
}


/** Step Navigation **/

:host ::ng-deep .mat-horizontal-stepper-header-container {
    text-align: center;
    width: 50%;
    margin-left: 24%;
}

:host ::ng-deep .mat-step-icon-selected {
    background-color: #18c65e!important;
}

:host ::ng-deep .mat-step-icon-state-edit {
    background-color: #18c65e!important;
}

/** Steps **/
.first-step-title {
    font-family: bebasNeue-bold;
    font-size: 39px;
    color: #303130;
}

.first-step-sub-title {
    font-family: montserrat-semiBold;
    font-size: 15px;
    color: #303130;
}

.form-font-family {
    font-family: montserrat-light;
}

.form-font-family mat-radio-button {
    font-family: montserrat-light;
}

:host ::ng-deep .form-font-family .ng-star-inserted {
    font-family: montserrat-light;
}

.input-text-alignment {
    width: 300px;
    bottom: -12px;
}

:host ::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
    border-top-width: 6px !important;
    border-color: white;
    padding-left: 0px;
    padding-right: 0px;
    
}

:host ::ng-deep mat-form-field mat-hint p {
    color: #18c65e !important;
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    border-bottom: solid 1px #18c65e !important;
    color: #18c65e;
}

:host ::ng-deep .mat-form-field-underline {
    border-bottom: solid 1px #18c65e !important;
}

::ng-deep .mat-select-content {
    background: red;
}

::ng-deep .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
    background-color: white;
}

::ng-deep .mat-form-field-infix label .ng-star-inserted {
    float: left;
    margin-left: 0px;
}

::ng-deep .mat-form-field-flex {
    padding-left: 0px !important;
}

::ng-deep mat-select span .mat-form-field-label {
    top: 25px !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #18c65e;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #18c65e;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:#18c65e;
}

.step-next-button {
    border-radius: 35px;
    width: 50%;
    font-family: montserrat-light;
}

/** Rate **/
.rate-row {
    text-align: center;
    margin-bottom: 20px;
}

.item-prince-title {
    font-family: bebasNeue-bold;
    font-size: 30px;
    color: #303130;
}

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}
