
<div  class="row login-main-div">
  
  <!--
  <div class="login-square col-lg-4 col-md-4 col-sm-4 col-xs-8" style="text-align: center;">
    <p class="login-tittle-mail"> Te hemos enviado un correo <br> para verificar tu cuenta! </p>
  </div>
  -->

  <div class="login-square col-lg-4 col-md-4 col-sm-4 col-xs-8" style="text-align: center;">
      <p class="login-tittle"> CONVIÉRTETE EN UN <BR> BAAW MEMBER! </p>
      <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

              <div  class="row">
                  <mat-form-field class="input-text-alignment">
                      <mat-label>Dirección de correo</mat-label>
                      <input  matInput placeholder="Dirección de correo" value="" formControlName="usermail"
                              [ngClass]="{ 'is-invalid': submitted && f.usermail.errors }"
                              type="email" name="email" ngModel [email]="true" #userEmail>
                      <mat-hint> <p style="color: #18c65e; ">Este campo es obligatorio*</p></mat-hint>
                  </mat-form-field>
              </div>

              <div  class="row">
                  <mat-form-field class="input-text-alignment">
                      <mat-label>Contraseña</mat-label>
                      <input matInput placeholder="Contraseña" value="" formControlName="password"
                              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" type="password" #userPwd>
                      <mat-hint> <p style="color: #18c65e; ">Este campo es obligatorio*</p></mat-hint>
                  </mat-form-field>
              </div>
              <br>
              
              <div class="col-md-12" style="margin-top: 25px; margin-bottom: 10px;">
                  <input type="button" class="btn btnPrimary" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)">
              </div>
              
              <div class="formGroup">
                <br>
                <span class="or"><span class="orInner">Ó</span></span>
              </div>
        
              <!-- Continue with Google -->
              <div class="formGroup">
                
                <input  type="image" src="/assets/images/crossOrigin/google/btn_google_normal.png"
                        style="width: 16em;"
                        (click)="authService.GoogleAuth()"/>
              </div>

      </form>

  </div>
</div>


</div>

