<div class="col-md-12 container-customer-serv">
    <h1> Atención al Cliente</h1>
    <div class="col-md-2 "> <hr> </div>
    <div class="col-md-12 "> 

    <p class="text-customer-serv"> Para cualquier duda de compra o venta puedes contactarnos vía:</p>
    <div class="col-md-6 ">
        <div class="col-md-3 "></div>
        <div class="col-md-6 center-customer-serv">
            <img    class="image-customer "
                            src="/assets/images/customer-service/icono_whats.svg">
            <p>Whatsapp ó llamada al</p>
            <p><b>44 48 66 77 77</b></p>
        </div>
        <div class="col-md-3 "></div>
    </div>
    <div class="col-md-6 ">
        <div class="col-md-3 "></div>
        <div class="col-md-6 center-customer-serv">
            <img    class="image-customer"
            src="/assets/images/customer-service/icono_correo.svg"
            >
            <p>Correo electrónico</p>
            <p><b>contacto@baaw.mx</b></p>
        </div>
        <div class="col-md-3 "></div>
    </div>
    </div>
</div>


