
.item-img-list {
    width: 140px;
}

.star-icon {
    height: 17px;
    width: 19px;
}

.tr-subtitle {
    height: 3em;
}

.td-subtitle {
    font-family: 'montserrat-regular';
    font-size: 11pt;
}

.item-detail-frame {
    background-color: #f2f2f2;
    align-content: center;
    margin: auto;
    display: table;
    padding-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    border-radius: 17px;
    height: 15em;
}

.item-title-frame {
    padding-top: 5px;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
}

.item-title-new-message {
    background-color: #18c65e;
    color: white;
    margin: auto;
    left: -5%;
    padding-left: 1px;
}

.item-title-old-message {
    margin: auto;
    left: -5%;
    padding-left: 1px;
}

.item-image-row {
    align-content: center;
    margin: auto;
    display: table;
}

.star-rate-div {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.item-detail-img {
    height: 135px;
    width: 91%;
    display: block;
    object-fit: cover;
    margin-left: 4.5%;
}

.item-micro-img {
    height: 45px;
    width: 35px;
    display: block;
    object-fit: cover;
    bottom: 6px;
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
}

.item-type {
    font-family: 'bebasNeue-bold';
    font-size: 2.3em;
}

.item-name {
    font-family: 'montserrat-regular';
    font-size: 17px;
}

.item-size {
    font-family: bebasNeue-bold;
    font-size: 14px;
}

.item-price {
    font-family: bebasNeue-bold;
    font-size: 26px;
}

.item-price-total {
    font-family: bebasNeue-bold;
    font-size: 26px;
    color: #18c65e!important;
}

.item-buy-button {
    margin-top: -16px;
}

.item-buy-button .mat-button-base {
    margin: 8px 8px 8px 0;
    border-radius: 34px;
    color: black;
    font-family: montserrat-light;
    font-size: 14px;
    float: right;
}


.item-transaction-table {
    margin-bottom: 1.5em;
}

.name-item-detail{
    font-family: bebasNeue-bold;
    font-size: 30pt;
    color: #303130;
    line-height: 41px;
}

.size-item-detail{
    font-family: bebasNeue-regular;
    font-size: 16pt;
    color: #303130;
    line-height: 0px;
}

.price-item-detail{
    font-family: bebasNeue-bold;
    font-size: 18pt;
    color: #303130;
    line-height: 28px;
}

.date-format {
    line-height: 20px;
}

.sku-item-detail{
    font-family: bebasNeue-bold;
    font-size: 12pt;
    color: #303130;
    line-height: 0px;
}

.img-item {
    width: 100%;
    height: 105px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.item-detail-row {
    line-height: 10px;
}

.item-row-title {
    background-color: #f2f2f2;
}

.item-cell-title {
    padding-top: 10px;
    background-color: #f2f2f2;
}

.saled-date-item-title {
    font-family: 'montserrat-regular';
    font-size: 10pt;
}
.saled-date-item-detail {
    font-family: montserrat-semibold;
    font-size: 12pt;
}

:host ::ng-deep .submit-button {
    background-color: #18c65e!important;
    color: white;
}

.diagnost-comments {
    font-family: 'montserrat-light';
    font-size: 12pt;
    color: #303130;
    line-height: 0px;
}

.diagnost-full-width {
    width: 85%;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: #18c65e!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #18c65e;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #18c65e;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #18c65e;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:#18c65e;
    font-size: 12px;
    margin-bottom: 2em;
}

.paymeent-detail {
    font-family: 'montserrat-regular';
}

.table-ammounts {
    width: 83%;
    margin-left: 15px;
    border-top: black 1px solid;
}

.table-ammounts-name {
    font-family: 'montserrat-semiBold';
    height: 1.3em;
    font-size: 12px;
}

.table-ammounts-number {
    font-family: 'montserrat-semiBold';
    font-size: 12px;
}

.table-ammounts-total {
    font-family: 'montserrat-regular';
    font-size: 12px;
    margin-bottom: 1em;
}

.table-ammounts {
    width: 83%;
    margin-left: 15px;
}

.table-service-checkbox {
    width: 83%;
    margin-left: 15px;
}

.table-service-input-name {

}

.table-service-name {

}

.table-service-name-value {
    
}

.submit-button-admin-tracker {
    font-family: 'montserrat-light';
    font-size: 10pt;
}

/* */
:host ::ng-deep .mat-step-icon-selected {
    background-color: #18c65e!important;
}

:host ::ng-deep .mat-step-icon-state-edit {
    background-color: #18c65e!important;
}
