<div class="col-md-12 ">
    <h1> Políticas de devolución</h1>
    <div class="col-md-1 "> <hr> </div>
    <div class="col-md-12 "> 
    <p> En Baaw Room buscamos que estés satisfecho, por lo cual si tu producto no coincide con las características publicadas (recibiste un producto
        diferente o con algún defecto), podrás solicitar tu dinero o cambiarlo por otro producto.
        Para hacer una devolución debes iniciar una reclamación enviando un correo electrónico a contacto@baaw.mx y explicarnos el motivo por el cual
        regresas el producto, incluyendo fotos y descripción a detalle. </p>
    <p> Debes considerar los motivos y sanciones que aplican en los diferentes casos. </p>
    <p> Cualquier reclamo deberá regresar en las mismas condiciones que se recibió (requisito enviar evidencia de empaque en el correo electrónico). </p>
    <p> Cuando lo devuelvas y se revise el producto, debe estar en las mismas condiciones que describas al reclamar. </p>
    <p> Tienes 15 días desde el momento que recibes el producto para hacer un reclamo de devolución. Pasando este tiempo no podemos recibir ningún
        reclamo, en Baaw Room consideramos que es tiempo suficiente para revisar el producto.</p>
    <p> El envío es responsabilidad y corre por cuenta del comprador en los siguientes casos:</p>
    <p> -No me gusto. </p>
    <p> -Me decidí por otro producto.</p>
    <p> -Ya compré otra bicicleta. </p>
    <p> -No es mi talla. </p>
    <p> Y aplicará una sanción del 10% para cubrir los gastos operativos realizados. </p>
    <p>En caso de ser un error de vendedor, el vendedor es responsable y deberá absorber los gastos que se generen del envió de regreso. En los siguientes
        casos: </p>
    <p> -El producto esta modificado en sus componentes al publicado en la página de Baaw Room. </p>
    <p> -El producto llegó dañado al abrir la caja y en la publicación mencionaba condiciones diferentes. </p>
    <p> -La caja llego en malas condiciones y alterada. </p>
    <p> -No es el mismo al publicado, es un producto totalmente diferente al publicado. </p>
    <p> Baaw room no es responsable de daños durante el transito del producto.  </p>
    <p> Los envíos deberán tener el número de guía visible. </p>
    <p> En caso de no existir ningún desperfecto del producto y el comprador solo desee regresarlo, él mismo deberá absorber los gastos de envío, regresando
        íntegramente el producto, con el correcto embalaje a la misma dirección de la cual fue enviada. Una vez que llegue el producto al destino el vendedor
        tendrá 5 días para revisar su bicicleta que haya llegado en buen estado y cuando lo confirme Baaw Room regresará el dinero (podrá verse afectado el
        dinero integro que se pagó por la bicicleta por gastos operativos o en caso de que se haya empacado de manera incorrecta y durante el envío la
        bicicleta haya sufrido daños). </p>

    </div>
</div>

