
<div>
    <mat-toolbar color="primary" class="home-page-header">
        
        <div class="col-md-3 col-sm-3 col-xs-3"  (click)="categorySnav.toggle()">
            <div class="row">
                <button mat-icon-button class="app-icon">
                    <mat-icon style="color: #18c65e;">menu</mat-icon>
                </button>
            </div>
            <div class="row">
                <span class="header-menu-title">menú</span>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-2">
        </div>

        <div class="col-md-1 col-sm-1 col-xs-1 logo-header">
            <p>LOGO</p>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-2">
        </div>

        <div class="col-md-3 col-sm-3 col-xs-6">

            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button mat-icon-button class="app-icon banner-icon" aria-label="Example icon-button with heart icon">
                        <mat-icon class="banner-icon" svgIcon="love_inactive"></mat-icon>
                    </button>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button mat-icon-button class="app-icon banner-icon" aria-label="Example icon-button with heart icon">
                        <mat-icon class="banner-icon" svgIcon="bell_inactive"></mat-icon>
                    </button>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button mat-icon-button class="app-icon" aria-label="Example icon-button with heart icon">
                        <mat-icon class="banner-icon" svgIcon="user_inactive"></mat-icon>
                    </button>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button mat-icon-button class="app-icon" aria-label="Example icon-button with heart icon">
                        <mat-icon class="banner-icon" svgIcon="car_inactive"></mat-icon>
                    </button>
                </div>
            </div>
            <div class="row" style="color: black;">

                <mat-form-field appearance="none" style="width: 100%;">
                    <mat-label style="color: gray;">Search</mat-label>
                    <input matInput placeholder="">
                    <span matPrefix class="material-icons" >search</span>
                </mat-form-field>

            </div>

        </div>

    </mat-toolbar>

    <mat-sidenav-container class="category-sidenav-container home-page-banner" [style.marginTop.px]="0">

        <mat-sidenav class="banner-menu" #categorySnav [mode]="'side'" fixedTopGap="1" style="width: 40%;">
            <!-- <app-category-tree (categoryId)="onCategoryId($event)"></app-category-tree> -->
            
            <div class="menu-slide">

                <div class="row" >
                    <div class="col-md-1 col-sm-1"></div>

                    <div class="col-md-4 col-sm-4">
        
                        <div class="row" >
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-left-side">COMPRA</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-left-side">VENDE</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-left-side">NUESTRA HISTORIA</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-left-side">NUESTRO BLOG</div>
                        </div>
        
                    </div>
                    <div class="col-md-1 col-sm-2" style="
                        border-width: 2px;
                        height: 220px;
                        border-left: 1.5px solid #00000040;
                        float: left;
                    "></div>
                    <div class="col-md-4 col-sm-3">
        
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-right-side">Bicicletas</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-right-side">Montaña</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-right-side">Ruta</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-right-side">Urbana</div>
                        </div>
        
                    </div>
                    <div class="col-md-1 col-sm-1"></div>
                </div>

                <div class="row" style="margin-top: 20%">
                    <div class="col-md-1 col-sm-1"></div>

                    <div class="col-md-4 col-sm-4">
        
                        <div class="row" >
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-botton-side">INICIA SESIÓN</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-botton-side">SOPORTE</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-botton-side">CENTRO DE ASISTENCIA</div>
                        </div>
        
                    </div>
                    <div class="col-md-7 col-sm-7"></div>
                </div>

            </div>
        </mat-sidenav>

        <mat-sidenav-content class="">
            <!-- <app-item-list [categoryId]="categoryId"></app-item-list> -->
            <!-- <app-sale-item></app-sale-item> -->

            <div class="side-nav-content">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2"></div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        COMPRA, VENDE, RUEDA
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-5"></div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <button mat-stroked-button style="border-radius: 25px; width: 170px; border-color: white;">Descubre</button>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5"></div>
                </div>

            </div>

        </mat-sidenav-content>

    </mat-sidenav-container>



    <div id="separation-banner">
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-right: 0px; padding-left: 0px;">

            <img    class="home-page-separation-banner"
                    src="/assets/images/home/banner-separation.png"
                    alt="separation-banner">

        </div>
    </div>

    <div id="home-carousel">
        <app-home-carousel></app-home-carousel>
    </div>

    <div id="home-categories">
        <app-home-categories></app-home-categories>
    </div>

    <div id="home-news">
        <app-home-news></app-home-news>
    </div>

    <div id="home-footer">
        <app-home-footer></app-home-footer>
    </div>

</div>
