
<mat-toolbar color="primary">
    <button mat-icon-button class="app-icon" aria-label="Example icon-button with menu icon">
        <mat-icon (click)="categorySnav.toggle()">menu</mat-icon>
    </button>

    <span>My App</span>
    <span class="app-spacer"></span>
    <button mat-icon-button class="app-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="app-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container class="category-sidenav-container" [style.marginTop.px]="0">

    <mat-sidenav #categorySnav [mode]="'side'" fixedTopGap="1" style="width: 20%;">
        <app-category-tree (categoryId)="onCategoryId($event)"></app-category-tree>
    </mat-sidenav>

    <mat-sidenav-content>
        <h1>Items - categoryId: {{categoryId}}</h1>
        <!-- <app-item-list [categoryId]="categoryId"></app-item-list> -->
        <app-sale-item></app-sale-item>
        
    </mat-sidenav-content>

</mat-sidenav-container>
