
<div class="container-fluid">

    <div class="col-xs-6 col-sm-4 col-md-3 item-detail-frame"
            *ngFor="let item of items; index as i; first as isFirst">
        
        <div class="row item-title-frame">
            <div class="item-title-new-message">
                Reciente
            </div>
            <div class="star-rate-div">
              <mat-icon class="star-icon" svgIcon="star_active"></mat-icon>
              <mat-icon class="star-icon" svgIcon="star_active"></mat-icon>
              <mat-icon class="star-icon" svgIcon="star_active"></mat-icon>
              <mat-icon class="star-icon" svgIcon="star_inactive"></mat-icon>
              <mat-icon class="star-icon" svgIcon="star_inactive"></mat-icon>
            </div>
        </div>

        <!-- Item element Begin -->
        <div class="row item-image-row">
            <img src="/assets/images/vistas/list_{{i}}.jpg" class="item-detail-img" alt="image">
        </div>
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 item-type">
                Bicicleta/{{item.itemTypeCatId}}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 item-name">
                {{item.name}}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 item-price">
                {{item.originalPrice}}
            </div>
        </div>
        <!-- Item element End -->
    </div>

</div>