
.footer-background {
    margin-top: 40px;
    padding-top: 40px;
    background-color: #000000e3;
}

.footer-title {
    font-family: bebasNeue-bold;
    font-size: 25pt;
    color: #ffffff;
}

.footer-links {
    font-family: montserrat-light;
    font-size: 10pt;
    color: #ffffff;
}

.img-footer-social-icons {
    width: 32px;
}

.footer-title-subscribe {
    
    font-family: bebasNeue-bold;
    font-size: 25pt;
    color: #ffffff;
}