
.slider-title {
  font-size: 60px;
    font-family: bebasNeue-bold;
    color: #303130;
    margin-top: 80px;
}

.img-slider {
  width: 100%;
  height: 390px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.img-slider:hover {
  filter: brightness(45%);
}

.img-slide-side {
  object-fit: cover;
  width: 250px;
  height: 390px;
}

.img-slide-side:hover {
  filter: brightness(45%);
}

.img-slide-side-left {
  float: right;
}

.img-slide-side-right {
  float: left;
}

