

<div>
    <mat-toolbar color="primary" class="home-page-header">

    </mat-toolbar>

    <mat-sidenav-container class="category-sidenav-container home-page-banner" [style.marginTop.px]="0">

        <mat-sidenav class="banner-menu" #categorySnav [mode]="'side'" fixedTopGap="1" style="width: 40%;">
            
            <div class="menu-slide">

                <div class="row" >
                    <div class="col-md-1 col-sm-1"></div>

                    <div class="col-md-4 col-sm-4">
        
                        <div class="row" >
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-left-side">
                                <a [routerLink]="['/market-place', 'null' ]">COMPRA</a></div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-left-side">VENDE</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-left-side">NUESTRA HISTORIA</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-left-side">NUESTRO BLOG</div>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-2" style="
                        border-width: 2px;
                        height: 220px;
                        border-left: 1.5px solid #00000040;
                        float: left;
                    "></div>
                    <div class="col-md-4 col-sm-3">
        
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-right-side">Bicicletas</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-right-side">Montaña</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-right-side">Ruta</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-right-side">Urbana</div>
                        </div>
        
                    </div>
                    <div class="col-md-1 col-sm-1"></div>
                </div>

                <div class="row" style="margin-top: 20%">
                    <div class="col-md-1 col-sm-1"></div>

                    <div class="col-md-4 col-sm-4">
        
                        <div class="row" >
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-botton-side">INICIA SESIÓN</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-botton-side">SOPORTE</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-botton-side">CENTRO DE ASISTENCIA</div>
                        </div>
        
                    </div>
                    <div class="col-md-7 col-sm-7"></div>
                </div>

            </div>
        </mat-sidenav>

        <mat-sidenav-content class=""  style="text-align: center; ">
            
            <div class="side-nav-content">
                <div class="row"
                style="margin: 0; top: 47%; -ms-transform: translateY(-50%); transform: translateY(-50%); position: absolute; left: 12%;"
                >
                    <div class="" style="width: 100%;">
                        COMPRA, RUEDA, VENDE, REPITE
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2"
                    style="
                    text-align: center; width: 100%;
                    margin: 0; top: 55%; -ms-transform: translateY(-50%); transform: translateY(-50%); position: absolute;"
                    >
                        <button mat-stroked-button style="border-radius: 25px; width: 170px; border-color: white;" [routerLink]="['/market-place', 'null' ]">
                            Descubre
                        </button>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5"></div>
                </div>

            </div>

        </mat-sidenav-content>

    </mat-sidenav-container>



    <div id="separation-banner">
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-right: 0px; padding-left: 0px; background-color: black;">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <img    class="home-page-separation-banner black-icon"
                        (click)="openPopUp('/assets/images/home/popup_bici.svg')"
                        src="/assets/images/home/ic_bici.svg"
                        alt="separation-banner">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <img    class="home-page-separation-banner black-icon"
                        src="/assets/images/home/ic_garantia.svg"
                        alt="separation-banner"
                        (click)="openPopUp('/assets/images/home/popup_garan.svg')">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 ">
                <img    class="home-page-separation-banner black-icon"
                        src="/assets/images/home/iconos-25.svg"
                        (click)="openPopUp('/assets/images/home/popup_vend.svg')"
                        alt="separation-banner">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <img    class="home-page-separation-banner black-icon"
                        src="/assets/images/home/ic_ases.svg"
                        (click)="openPopUp('/assets/images/home/popup_ases.svg')"
                        alt="separation-banner">
            </div>
        </div>
    </div>

    <div id="home-carousel">
        <app-home-carousel></app-home-carousel>
    </div>

<!--
    <div id="home-categories" style="padding-top: 80px">
        <app-home-categories></app-home-categories>
    </div>
-->

<!--
    <div id="home-news" style="padding-top: 80px">
        <app-home-news></app-home-news>
    </div>
-->

</div>
