

<div>
    <mat-toolbar color="primary" class="home-page-header">

    </mat-toolbar>

    <mat-sidenav-container class="category-sidenav-container home-page-banner" [style.marginTop.px]="0">

        <mat-sidenav class="banner-menu" #categorySnav [mode]="'side'" fixedTopGap="1" style="width: 40%;">
            
            <div class="menu-slide">

                <div class="row" >
                    <div class="col-md-1 col-sm-1"></div>

                    <div class="col-md-4 col-sm-4">
        
                        <div class="row" >
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-left-side">COMPRA</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-left-side">VENDE</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-left-side">NUESTRA HISTORIA</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-left-side">NUESTRO BLOG</div>
                        </div>
        
                    </div>
                    <div class="col-md-1 col-sm-2" style="
                        border-width: 2px;
                        height: 220px;
                        border-left: 1.5px solid #00000040;
                        float: left;
                    "></div>
                    <div class="col-md-4 col-sm-3">
        
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-right-side">Bicicletas</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-right-side">Montaña</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-right-side">Ruta</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-right-side">Urbana</div>
                        </div>
        
                    </div>
                    <div class="col-md-1 col-sm-1"></div>
                </div>

                <div class="row" style="margin-top: 20%">
                    <div class="col-md-1 col-sm-1"></div>

                    <div class="col-md-4 col-sm-4">
        
                        <div class="row" >
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-botton-side">INICIA SESIÓN</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-botton-side">SOPORTE</div>
                            <div class="col-md-12 col-sm-12 col-xs-12 header-menu-botton-side">CENTRO DE ASISTENCIA</div>
                        </div>
        
                    </div>
                    <div class="col-md-7 col-sm-7"></div>
                </div>

            </div>
        </mat-sidenav>

        <mat-sidenav-content class="">
            
            <div class="side-nav-content">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2"></div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        COMPRA, VENDE, RUEDA
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-5"></div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <a [routerLink]="['/market-place', 'null' ]">
                            <button mat-stroked-button style="border-radius: 25px; width: 170px; border-color: white;">
                                Descubre
                            </button>
                        </a>

                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5"></div>
                </div>

            </div>

        </mat-sidenav-content>

    </mat-sidenav-container>



    <div id="separation-banner">
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-right: 0px; padding-left: 0px;">

            <img    class="home-page-separation-banner"
                    src="/assets/images/home/banner-separation.png"
                    alt="separation-banner">

        </div>
    </div>

    <div id="home-carousel">
        <app-home-carousel></app-home-carousel>
    </div>


    <div id="home-categories" style="padding-top: 80px">
        <app-home-categories></app-home-categories>
    </div>


    <div id="home-news" style="padding-top: 80px">
        <app-home-news></app-home-news>
    </div>

</div>
