
<div  class="row login-main-div">
    

    <div class="login-square col-lg-4 col-md-4 col-sm-4 col-xs-8" style="text-align: center;">
        <p class="login-tittle">SOLICITA TU NUEVA CONTRASEÑA </p>
        <div class="card-body" (ngSubmit)="onSubmit()">
            <form [formGroup]="forgotPassFormGroup">


                <div  class="row">
                    <mat-form-field class="input-text-alignment">
                        <mat-label>Ingresa tu correo</mat-label>
                        <input matInput placeholder="Mail" value="" formControlName="email"
                                [email]="true" type="email" required
                                [ngClass]="{ 'is-invalid': submitted && f.usermail.errors }">

                        <mat-hint> <p style="color: #18c65e; ">Este campo es obligatorio*</p></mat-hint>
                    </mat-form-field>
                </div>

                <div  class="row" style="margin-top: 3em;">
                    <mat-card-subtitle>
                        <button mat-stroked-button
                                (click)="authService.ForgotPassword(forgotPassFormGroup.value.email)"
                                [disabled]="!forgotPassFormGroup.valid">
                            <mat-icon>send</mat-icon>
                            Solicitar Correo de Nueva Contraseña
                        </button>
                    </mat-card-subtitle>
                </div>
            </form>
    </div>
</div>


</div>
